<div class="row m-0">
  <div class="col-md-8 col-12">
    <%= simple_form_for([:admin, @administrator]) do |f| %>
      <%= f.input :email %>
      <%= f.input :password, label: "New Password" %>
      <%= f.input :password_confirmation, label: "Confirm New Password:" %>

      <div class="actions">
        <%= f.submit class: "btn btn-outline-success" %>
      </div>
    <% end %>
  </div>
</div>