<div class="row">
  <div class="col-12">
    <div class="card m-b-20 card-inverse text-light">
      <div class="card-header bg-light">
        <div class="row m-0">
          <div class="col-sm-12">
            <h4 class="text-left m-0">
              <%= link_to admin_root_path, class: "btn btn-outline-secondary" do %>
                <i class="ti-back-left"></i> &nbsp;Back
              <% end %>
            </h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>