<body class="bg-tranparent bx-s-0">
  <div class="wrapper-page">
    <div class="text-center">
        <a href="#" class="logo-lg">Administrator</a>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal m-t-20") do |f| %>
      <div class="form-group row">
        <div class="col-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="mdi mdi-account"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Username" %>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="mdi mdi-key"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder:"Password" %>
          </div>
        </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="custom-control custom-checkbox mt-4">
          <%= f.check_box :remember_me, class: "custom-control-input" %>
          <%= f.label :remember_me, class: "custom-control-label" %>
        </div>
      <% end -%>
      <div class="form-group text-right m-t-20">
        <div class="col-xs-12">
          <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Log In
          </button>
        </div>
      </div>
    <% end %>
  </div>
</body>