<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="btn-group pull-left">
        <ol class="breadcrumb hide-phone p-0 m-0">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <%= define_li() %>
        </ol>
      </div>
      <h4 class="page-title text-right" style="height: 24px;"></h4>
    </div>
  </div>
</div>
<!-- end page title end breadcrumb -->