<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-dismissible alert-danger">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
  </div>
<% end %>

<script type="text/javascript">
  $('.alert.alert-dismissible').alert();
  $(".alert.alert-dismissible").fadeTo(5000, 800).slideUp(800, function(){
    $(".alert.alert-dismissible").alert('close');
  });
</script>