<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <b>
          Copyright CMS © 2018 
          <a style="color: #ef5350; font-size: 13px; text-decoration: underline;" target="_blank" href="https://www.vinova.sg">Vinova Pte. Ltd.</a>
           All rights reserved.
        </b>
      </div>
    </div>
  </div>
</footer>