<div class="topbar-main">
  <div class="container-fluid">
    <!-- Logo container-->
    <div class="logo">
      <!-- Text Logo -->
      <a href="/admin" class="logo">
        <span class="logo-small"><i class="mdi mdi-google-drive"></i></span>
        <span class="logo-large"><i class="mdi mdi-google-drive"></i>Administrator</span>
      </a>
    </div>
    <!-- End Logo container-->
    <div class="menu-extras topbar-custom">
      <ul class="list-inline float-right mb-0">
        <li class="menu-item list-inline-item">
          <!-- Mobile menu toggle-->
          <a class="navbar-toggle nav-link">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <!-- End mobile menu toggle-->
        </li>
        <li class="list-inline-item dropdown notification-list">
          <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <%= image_tag("avatar-default-customize.png", class: "rounded-circle") %>
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
            <%= link_to edit_admin_administrator_path(current_administrator), class: 'dropdown-item notify-item' do %>
              <i class="mdi mdi-account"></i> <span>Profile</span>
            <% end %>
            <%= link_to admin_signout_path, method: :delete, class: 'dropdown-item notify-item' do %>
              <i class="mdi mdi-logout"></i> <span>Logout</span>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <!-- end menu-extras -->
    <div class="clearfix"></div>
  </div> <!-- end container -->
</div>