<div class="navbar-custom">
  <div class="container-fluid">
    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li class="has-submenu <%= active_btn_customize(["dashboard"]) %>">
          <a href="/admin"><i class="ti-home"></i>Dashboard</a>
        </li>
        <li class="has-submenu <%= active_btn_customize(["#"]) %>">
          <%= link_to '#' do %>
            <i class="ti-star"></i>Events
          <% end %>
        </li>
        <li class="has-submenu <%= active_btn_customize(["#"]) %>">
          <%= link_to '#' do %>
            <i class="ti-user"></i>Users
          <% end %>
        </li>
        <li class="has-submenu <%= active_btn_customize(["#1", "#2", "#3"]) %>">
          <%= link_to "#" do %>
            <i class="ti-direction-alt"></i>Manage
          <% end %>
          <ul class="submenu">
            <li class="<%= active_btn_customize(["#1"]) %>">
              <%= link_to '#' do %>
                <i class="ti-location-pin"></i> Location
              <% end %>
            </li>
            <li class="<%= active_btn_customize(["#2"]) %>">
              <%= link_to '#' do %>
                <i class="ti-comments"></i> Question Groups
              <% end %>
            </li>
            <li class="<%= active_btn_customize(["#3"]) %>">
              <%= link_to '#' do %>
                <i class="ti-comment"></i> Questionairs
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <!-- End navigation menu -->
    </div> <!-- end #navigation -->
  </div> <!-- end container -->
</div> <!-- end navbar-custom -->