<!DOCTYPE html>
<html>
  <head>
    <title><%= title_header %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>
  
  <% if administrator_signed_in? %>
    <body>
      <header id="topnav">
        <%= render url_header %>
        <%= render url_navbar %>
      </header>
      <div class="wrapper">
        <div class="container-fluid">
          <%= render url_breadcrumb %>
          <%= render url_flash_message %>
          <%= yield %>
        </div>
      </div>
      <%= render url_footer %>
      <%= javascript_include_tag 'plugin_admin' %>
    </body>
  <% else %>
    <body class="bg-tranparent bx-s-0">
      <%= render url_flash_message %>
      <%= yield %>
      <%= javascript_include_tag 'plugin_admin' %>
    </body>
  <% end %>
</html>

<script>
  var resizefunc = [];
</script>